//- Parameters:
//- string   text         - текст кнопки
//- string[] modifiers=[] - модификаторы блока

//- Examples:
//- +button('Sign Up')
//- +button('Sign Up')(href='#')
//- +button('Sign In', ['fill', 'compact'])
//- +button('Sign In', ['fill', 'compact'])(href='#')

mixin button(text, modifiers=[])
  - let mods = '';
  - if (modifiers.length !== 0) {
  -   modifiers.forEach((mod) => {
  -     mods = `${mods}button--${mod} `;
  -   });
  - }

  if (attributes.href)
    a.button(class=mods)&attributes(attributes)
      | #{text}
  else
    button.button(class=mods)&attributes(attributes)
      | #{text}
