//- Options:
//- 🞂 image: string    - имя файла с изображением автора отзыва
//- 🞂 author: string   - имя автора отзыва
//- 🞂 time: string     - время отзыва (в свободной форме)
//- 🞂 datetime: string - время отзыва (в формате ISO 8601)
//- 🞂 text: string     - текст отзыва
//- 🞂 likes: number    - количество лайков у кнопки отзыва
//- 🞂 isLike: boolean  - если true, то кнопка отзыва активна

include /blocks/button-like/button-like.pug

mixin review(options)
  -
    const defaults = {
      image: '',
      author: 'Author',
      time: 'Today',
      datetime: new Date().toISOString(),
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      likes: 0,
      isLike: false,
    };

  -
    const {
      image,
      author,
      time,
      datetime,
      text,
      likes,
      isLike,
    } = Object.assign(defaults, options);

  .review
    ._row
      ._cell.-small
        if image
          img._img(src=require(`~/content/reviewers/${image}`).default, alt=author)
        else
          img._img(src=require('~/blocks/review/img/review-avatar.svg').default, alt='Иконка «Аватар»')
      ._cell
        ._author
          | #{author}
        time._time(datetime=datetime)
          | #{time}
    ._row
      ._cell.-small.-button
        if isLike
          +button-like({
            number: likes,
            modifiers: ['active'],
          })
        else
          +button-like({
            number: likes,
          })
      ._cell
        blockquote._blockquote
          p._text
            | #{text}
