//- Options:
//- 🞂 list: [{               - список пунктов дропдауна
//-   🞂 name: string         - название пункта (во множественном числе)
//-   🞂 values: [            - значения пункта
//-     🞂 [0]: number        - текущее значение пункта
//-     🞂 [1]: number        - мин. допустимое значение пункта
//-     🞂 [2]: number        - макс. допустимое значение пункта
//-     ]
//-   🞂 words: [             - названия пункта для правильного склонения слова
//-     🞂 [0]: string        - название пункта (в единственном числе)
//-     🞂 [2]: string        - название пункта (последняя цифра значения входит в диапазон 2-4)
//-     🞂 [3]: string        - название пункта (последняя цифра значения равна 0, либо
//-                            последняя цифра значения входит в диапазон 5-9, либо
//-                            последние две цифры значения входят в диапазон 10-19)
//-     ]
//-   }]
//- 🞂 words: [               - общие обозначения для всех пунктов списка дропдауна для правильного склонения слова
//-   🞂 [0]: string          - обозначение (в единственном числе)
//-   🞂 [1]: string          - обозначение (последняя цифра общего количества входит в диапазон 2-4)
//-   🞂 [2]: string          - обозначение (последняя цифра общего количества равна 0, либо
//-                            последняя цифра общего количества входит в диапазон 5-9, либо
//-                            последние две цифры общего количества входят в диапазон 10-19)
//-   ]
//- 🞂 labelPrimary: string   - лейбл поля дропдауна (первичный)
//- 🞂 labelSecondary: string - лейбл поля дропдауна (вторичный)
//- 🞂 isButtons: boolean     - если true, то у дропдауна доступны кнопки "Очистить" и "Применить"
//- 🞂 modifiers: string[]    - модификаторы блока
//- 🞂 attrsField: object     - атрибуты поля дропдауна

include /blocks/button/button.pug
include /blocks/field/field.pug

mixin dropdown(options)
  -
    const defaults = {
      list: [
        {
          name: 'undefined',
          values: [0, 0, 0],
          words: [],
        },
        {
          name: 'undefined',
          values: [0, 0, 0],
          words: [],
        },
        {
          name: 'undefined',
          values: [0, 0, 0],
          words: [],
        },
      ],
      words: ['undefined', 'undefined', 'undefined'],
      labelPrimary: '',
      labelSecondary: '',
      isButtons: false,
      modifiers: [],
      attrsField: {},
    };

  -
    const {
      list,
      words,
      labelPrimary,
      labelSecondary,
      isButtons,
      modifiers,
      attrsField,
    } = Object.assign(defaults, options);

  .dropdown(class=getModifiers('dropdown', modifiers))
    +field({
      labelPrimary,
      labelSecondary,
      modifiers: ['dropdown'],
      attrs: Object.assign(attrsField, {
        readonly: true,
        'data-words': words.length ? `${words[0]}, ${words[1]}, ${words[2]}` : false,
      }),
    })
    ._menu(style='--height: 100vh;')
      ul._list
        each item in list
          li._item(data-words=item.words.length ? `${item.words[0]}, ${item.words[1]}, ${item.words[2]}` : false)
            ._name
              | #{item.name}
            ._controls
              button._spinner(type='button', name='decrement', disabled)
                | &minus;
              input._number(type='number', value=item.values[0], min=item.values[1], max=item.values[2], readonly)
              button._spinner(type='button', name='increment')
                | +
      if isButtons
        ._buttons
          ._button
            +button({
              text: 'Применить',
              modifiers: ['bodyless'],
              attrs: {
                name: 'apply',
              },
            })
          ._button.-reset.-hidden
            +button({
              text: 'Очистить',
              modifiers: ['bodyless', 'text-gray'],
              attrs: {
                name: 'reset',
              },
            })
