//- Parameters:
//- int bad       - количество голосов с оценкой «Разочарован»
//- int average   - количество голосов с оценкой «Удовлетворительно»
//- int good      - количество голосов с оценкой «Хорошо»
//- int excellent - количество голосов с оценкой «Великолепно»

//- Examples:
//- +room-votes(0, 65, 65, 130)

mixin room-votes(bad, average, good, excellent)
  - const sum = bad + average + good + excellent;
  - const gap = 0.8;
  - const deg = -90 + gap * 1.7;
  - const obj = {
  -   bad,
  -   average,
  -   good,
  -   excellent,
  - };

  - function getText() {
  -   const lastDigit = parseInt(sum, 10) % 10;
  -   const lastTwoDigits = parseInt(sum, 10) % 100;
  -
  -   if (lastDigit === 0
  -     || (lastDigit >= 5 && lastDigit <= 9)
  -     || (lastTwoDigits >= 10 && lastTwoDigits <= 19)) {
  -     return 'голосов';
  -   } else if (lastDigit >= 2 && lastDigit <= 4) {
  -     return 'голоса';
  -   } else {
  -     return 'голос';
  -   }
  - };

  .room-votes
    ._diagram
      svg._svg(viewbox='0 0 33 33', fill='none', stroke-width='1', style=`transform: rotate(${deg}deg);`)
        defs
          lineargradient#bad(x1='1', y1='1', x2='0', y2='0')
            stop(offset='0%', stop-color='#919191')
            stop(offset='100%', stop-color='#3d4975')
          lineargradient#average(x1='1', y1='1', x2='0', y2='0')
            stop(offset='0%', stop-color='#bc9cff')
            stop(offset='100%', stop-color='#8ba4f9')
          lineargradient#good(x1='1', y1='1', x2='0', y2='0')
            stop(offset='0%', stop-color='#6fcf97')
            stop(offset='100%', stop-color='#66d2ea')
          lineargradient#excellent(x1='1', y1='1', x2='0', y2='0')
            stop(offset='0%', stop-color='#ffe39c')
            stop(offset='100%', stop-color='#ffba9c')

        - let dashSum = 0;
        each value, key in obj
          if value >= 1
            - const dash = value / sum * 100;
            circle._circle(r='15.9', cx='50%', cy='50%', stroke=`url(#${key})`, stroke-dasharray=`${dash - gap} 100`, stroke-dashoffset=dashSum)
            - dashSum -= dash;
      ._text
        span._number
          | #{sum}
        | #{getText()}
    ul._list
      li._item.-excellent
        | Великолепно
      li._item.-good
        | Хорошо
      li._item.-average
        | Удовлетворительно
      li._item.-bad
        | Разочарован
